/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\Martin //////////////////////////////////////////////*/
/* Burbujas */
body{
    background: #921B18;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    z-index: 2;
    position: relative;
    height: 100vh;
    width: 100%;
    
}

.bubbles {
    z-index: 1;
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.bubbles span{
    z-index: 1;
    flex: 2;
    position: relative;
    width: 30px;
    height: 75px;
    background: #C5AC5C;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #C5AC5C44,
    0 0 50px #C5AC5C,
    0 0 100px #C5AC5C;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/var(--i));
}

.bubbles span:nth-child(even){
    z-index: 1;
    background: #37F371;
    box-shadow: 0 0 0 10px #37F37144,
    0 0 50px #37F371,
    0 0 100px #37F371;
    animation: animate 15s linear infinite;
    animation-duration: calc(110s/var(--i));
}

@keyframes animate{
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}

/* Texto de input y output */

label {
    z-index: 3;
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    z-index: 3;
    width: 300px; 
    height: 100px; 
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: transparent;
}

#inputTexto, #textoActualizado {
    z-index: 3;
    width: 180px; 
    height: 200px; 
    padding: 8px;
    box-sizing: border-box;
    resize: none;
}

#textoActualizado {
    z-index: 18;
    background: transparent;
    position: absolute;
    margin-left: 50%;
    top: 50%;
    left: 50%;
    transform: translate(170%, 60%);
    resize: none;
    border: none;   /*Cambiar esta linea para ver el borde y colocarlo*/
}


.container-general {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.formulario{
    z-index: 4;
    position: absolute;
    top: 20%; 
    left: 70%; 
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    
}

.formularioActualizado{
    z-index: 10;
    position: absolute;
    left: 155%;
    top: 30%;
}

.img-postal {
    z-index: 3;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 26%;
    height: 400px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\Pablo///////////////////////////////////////////////////////*/
    
.expansibleTotal{
    z-index: 7;
    margin-top: 5px;
    display: inline;
    padding-top: 15px;  
    padding-bottom: 15px;  
    margin-bottom: 15px;
    border: 3px solid #E5B600;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    background: #CD9801;
    height: auto;
    width: auto;
    float:left;
}

.expansibleAbrir{
    width: 140px;
    height: 20px;
    padding-left: 25%;
    cursor: pointer;
}

.edisión{
    text-align: center;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img_edit{
    width: 20px;
    
}

.expansibleOpciones{
    display: none;
    user-select: none;
    position: relative;
    float: left;
    width: 260px;
    height: 270px;
}

.Textosos{
    padding: 4px;
    margin-top: 3px;
    cursor: pointer;
    background: #F6F0B3;
    border: 5px;
    border-color: #F6F0B344;
    width: 27px;
}
.textos{
    width: 25px;
}
.textosAbiertos{
    position: absolute;
    left: 34px;
    top: 3px;
    width: 215px;
    height: 270px;
    background: #F6F0B3;
    border-bottom-right-radius: 15px;
    display: block;
    overflow-y: none;
}
/*
.textosAbiertos:-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar *
}

.textosAbiertos::-webkit-scrollbar-track {
    background: rgb(130, 132, 133);       /* color of the tracking area *
}

.textosAbiertos:-webkit-scrollbar-thumb {
    background-color: rgb(130, 132, 133);    /* color of the scroll thumb *
    border-radius: 20px;       /* roundness of the scroll thumb *
    border: 3px solid bisque;  /* creates padding around scroll thumb *
}*/

.fondosAbrir{
    cursor: pointer;
    border: 5px;
    border-color: bisque;
    width: 25px;
}
.fondoimg{
    width: 36px;
}
.fondosOpciones{
    position: absolute;
    left: 36px;
    top: 3px;
    width: 215px;
    height: 250px;
    background: rgb(245, 245, 245);
    border-bottom-right-radius: 15px;
    display: none;
    overflow-y: scroll;
}
.tarjetasFondo{
    position: absolute;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    left: 52%;
    top: 45%;
}
/*Tarjertas de fondo*/

.tarjeta1{
    display: block;
    width:450px;
}
.tarjeta2{
    display: none;
    width: 450px;
}
.tarjeta3{
    display: none;
    width: 450px;
}
.tarjeta4{
    display: none;
    width: 450px;
}
.tarjeta5{
    display: none;
    width: 400px;
}
.tarjeta6{
    display: none;
    width: 400px;
}
.tarjeta7{
    display: none;
    width: 450px;
}
.tarjeta8{
    display: none;
    width: 450px;
}
.tarjeta9{
    display: none;
    width: 450px;
}
.tarjeta10{
    display: none;
    width: 450px;
}
.tarjeta11{
    display: none;
    width: 450px;
}
.tarjeta12{
    display: none;
    width: 450px;
}
.tarjeta13{
    display: none;
    width: 450px;
}
.tarjeta14{
    display: none;
    width: 450px;
}
.tarjeta15{
    display: none;
    width: 650px;
}
.tarjeta16{
    display: none;
    width: 650px;
}
.tarjeta17{
    display: none;
    width: 400px;
}
.tarjeta18{
    display: none;
    width: 400px;
}
.tarjeta19{
    display: none;
    width: 650px;
}
.tarjeta20{
    display: none;
    width: 400px;
}
.tarjeta1f{width: 45px;}
.tarjeta2f{width: 45px;}
.tarjeta3f{width: 45px;}
.tarjeta4f{width: 45px;}
.tarjeta5f{width: 50px;}
.tarjeta6f{width: 50px;}
.tarjeta7f{width: 65px;}
.tarjeta8f{width: 65px;}
.tarjeta9f{width: 65px;}
.tarjeta10f{width: 65px;}
.tarjeta11f{width: 65px;}
.tarjeta12f{width: 55px;}
.tarjeta13f{width: 65px;}
.tarjeta14f{width: 45px; display: none;}
.tarjeta15f{width: 65px;}
.tarjeta16f{width: 65px;}
.tarjeta17f{width: 40px;}
.tarjeta18f{width: 40px;}
.tarjeta19f{width: 65px;}
.tarjeta20f{width: 40px;}

.stikersAbrir{
    cursor: pointer;
    background: #F6F0B3;
    border: 5px;
    border-color: #F6F0B344;
    width: 35px;
    height: 33px;
}
.stikerimg{
    width: 30px;
}
.stikerOpciones{
    position: absolute;
    left: 34px;
    top: 3px;
    width: 215px;
    height: 270px;
    background: #F6F0B3;
    border-bottom-right-radius: 15px;
    display: none;
    overflow-y: none;
}
